.review-container {
    text-align: center;
    padding: 30px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-container:hover {
    background-color: #ebf5e6;
}

.review-container img {
    width: 150px;
    border-radius: 1000px;
    margin-bottom: 20px;
}

.review-container h4 {
    font-weight: 600;
}

.ratings {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 0;
}

.ratings small {
    font-size: 16px;
    font-weight: 600;
    color: #FFBF00;
}