.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 80px 0;
}

.hero-title h1 {
    font-size: 24px;
}

.hero-title h1 span {
    font-size: 55px;
    color: #00BDFE;
    font-size: 60px;
    font-weight: 600;
}

.hero-title button {
    border: 2px solid #00BDFE;
    border-radius: 40px;
    background-color: #00BDFE;
    color: white;
    padding: 10px 35px;
    margin-top: 10px;
}

.hero-title button:hover {
    border: 2px solid #00BDFE;
    background-color: white;
    color: #00BDFE;
}

.hero-image img {
    width: 600px;
    margin-left: 80px;
}

.reviews-container h2 {
    font-size: 36px;
    font-weight: 600;
    color: #00BDFE;
    padding-bottom: 10px;
}

.review-button {
    margin-top: 40px;
}

.review-button a {
    text-decoration: none;
    color: white;
    border: 2px solid #00BDFE;
    border-radius: 40px;
    background-color: #00BDFE;
    padding: 10px 35px;
}

.review-button a:hover {
    border: 2px solid #00BDFE;
    background-color: white;
    color: #00BDFE;
}

@media only screen and (min-width: 0px) and (max-width: 472px) {

    .hero-container {
        grid-template-columns: 1fr;
        padding: 0 0 60px 0;
        text-align: center;
    }

    .hero-title {
        order: 2;
    }

    .hero-title h1 {
        font-size: 16px;
    }

    .hero-title h1 span {
        font-size: 40px;
    }

    .hero-title p {
        font-size: 14px;

    }

    .hero-title button {
        padding: 8px 30px;
        margin-top: 0;
        font-size: 16px;
    }

    .hero-image img {
        width: 300px;
        order: 1;
        padding: 20px 0;
        margin-left: 0;
    }

    .reviews-container h2 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .review-button a {
        padding: 8px 30px;
        margin-top: 0;
        font-size: 16px;
    }
}