.navbar {
    margin: 10px 0 30px 0;
}

.nav-title h1 {
    font-weight: 600;
    color: #00BDFE;
}

.nav-title span {
    font-weight: 600;
    color: black;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: 600;
}

nav a:hover {
    color: #00BDFE;
}

@media only screen and (min-width: 0px) and (max-width: 472px) {

    .navbar {
        margin: 10px 0 20px 0;
    }

    nav a {
        display: none;
    }

}