nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

nav a:hover {
    color: orange;
}

@media only screen and (min-width: 0px) and (max-width: 472px) {

    nav a {
        display: none;
    }

}